/*GLOBAL*/

body {
  margin: 0;

}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  background-color: #121618;
}

/*HEADER*/

.header {
  width: 1200px;
  margin: 0 auto;
  background-color: #121618;
  display: flex;
  justify-content: space-between;
  .nav-list {
    display: flex;
    padding: 0;
    .nav-list-item {
      display: inline-block;
      list-style-type: none;
      color: #b8baba;
      padding: 40px 0 40px 48px;
      justify-content: space-between;
    }
    .nav-list-item:first-child {
      padding: 40px 0 40px 0;
    }
    .nav-list-item:hover {
      color: #dcc564;
    }
  }
}

/*SECTION*/

.section-1 {
  width: 1900px;
  height: 845px;
  background-image: url("../images/bg_1.jpg");
}
